##################################
# configuration for nutNotify.sh #
#                                #
##################################

logfile={{notifynut_logfile}}
flagfile={{notifynut_flagfile}}
curlBin={{notifynut_curlBin}}
mailBin={{notifynut_mailBin}}

subjectDefault="{{notifynut_subjectDefault}}"		#default subject
bodyDefault="{{notifynut_bodyDefault}}" # default body message

#--- Data for mail ---#
FROM="{{notifynut_mailfrom if notifynut_mailfrom is defined}}"			#sender
MAILTO="{{notifynut_mailto if notifynut_mailto is defined}}"			#recipient(s)
subjectMail="$subjectDefault"	  	#subject sent by mail
textMail="$bodyDefault"						#body message sent by mail

#--- Data for SMS ---#
providerSms={{notifynut_sms_provider if notifynut_sms_provider is defined}}  	#Betamax/Dellmont provider with sms API
usernameSms="{{notifynut_sms_username if notifynut_sms_username is defined}}"  #username
passwordSms="{{notifynut_sms_password if notifynut_sms_password is defined}}"	#password
fromSms=$usernameSms											#from a mobile number configure into your Batamax/dellmont account or your username
toSms={{notifynut_sms_number if notifynut_sms_number is defined}}						#the mobile number to send to
textSms="$bodyDefault"										#body message to send by SMS

#--- Data for pushBullet ---#
pushbulletProviderApi='{{notifynut_pushbullet_providerApi}}'
pushbulletAccessToken='{{notifynut_pushbullet_accessToken if notifynut_pushbullet_accessToken is defined}}'
pushbulletSubject="{{notifynut_pushbullet_subject}}"
pushbulletMessage="$bodyDefault"					#body message sent by pushBullet

#--- Data for telegram ---#
telegramProviderApi='{{notifynut_telegram_providerApi}}'
telegramAccessToken='{{notifynut_telegram_accessToken if notifynut_telegram_accessToken is defined}}'
telegramChatID='{{notifynut_telegram_chatID if notifynut_telegram_chatID is defined}}'
telegramSubject="{{notifynut_telegram_subject}}"
telegramMessage="$bodyDefault"						#body message sent by telegram

#--- Data for Pushover ---#
pushoverProviderApi='{{notifynut_pushover_providerApi}}'
pushoverAppToken='{{notifynut_pushover_appToken if notifynut_pushover_appToken is defined}}'
pushoverUserkey='{{notifynut_pushover_userkey if notifynut_pushover_appToken is defined}}'
pushoverSubject="{{notifynut_pushover_subject}}"
pushoverMessage="$bodyDefault"						#body message sent by Pushover

# methods to use on event (array to multi alert)
#   can be mail, telegram, pushober, pushbullet, sms
#   or an array like '(telegram mail)' for multiple methods
methodDefault={{notifynut_method}}         
methodOnline={{notifynut_method_online}}
methodOnbatt={{notifynut_method_onbatt}}
methodLowbatt={{notifynut_method_lowbatt}}
methodFsd={{notifynut_method_fsd}}
methodShutdown={{notifynut_method_shutdown}}
methodComm={{notifynut_method_comm}}
methodServerOnline={{notifynut_method_serveronline}}